<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="https://cdn.jsdelivr.net/gh/GabrielArellano/Personal-Loan-Calculator@master/calculator.png">
  <h1>PERSONAL LOAN CALCULATOR APP</h1>
  <p>
   This Personal Loan calculator will give you a broad estimate on what your monthly
payment will be and what the matured loan payment will be after it.
  </p>
  <p>
    Source: https://www.ecomparemo.com/loans/personal-loan-calculator
    </p>
     <h3> TRY IT NOW TO SEE YOURS! </h3>
  <br /> 
<ion-item>
  <ion-label>Loan Amount:</ion-label>
  <ion-input type="number" [(ngModel)]="LoanAmount"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Loan Term:</ion-label>
  <ion-input type="number" [(ngModel)]="LoanTerm"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Interest Rate:</ion-label>
  <ion-input type="number" [(ngModel)]="InterestRate"></ion-input>
</ion-item>

<button ion-button color="secondary" (click)="calculate()" >
  CALCULATE
</button>

<ion-item *ngIf="InterestPayable">
  <h2 >TOTAL INTEREST PAYABLE: {{InterestPayable}}</h2>
</ion-item>

<ion-item *ngIf="AmountPayable">
  <h2 >TOTAL AMOUNT PAYABLE: {{AmountPayable}}</h2>
</ion-item>

<ion-item *ngIf="MonthlyPayable">
  <h2 >MONTHLY PAYMENT: {{MonthlyPayable}}</h2>
</ion-item>
